*/JES Stock Samples/*
.idea/*
/.idea/
/.idea/*
Year 1 - Semester 2/.idea/workspace.xml
*.iml

Year 1 - Semester 2/.idea/workspace.xml
Year 1 - Semester 2/src/Deepesh/*
Year 1 - Semester 2/out/*
*.class
/out/*